@import url(styles/header.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --cor-douradoEscuro: #c1850b;
    --cor-douradoEscuro2: #be8005;
    --cor-douradoClaro: #f8f1a5;
}

.section1__conteudos{
    display: flex;
    flex-direction: column;
    padding: 3.12rem 0rem 0rem 0.93rem;
    gap: 0.31rem;
}


.section1{
    height: 240px;
    background-image: url(img/imagem\ section1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Poppins';
}

.section1__conteudos__tituloPrincipal{
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-douradoClaro);
}

.section1__conteudos__descricao{
    font-size: 13px;
    font-weight: 500;
    color: #F1EECA;
}

.section1__conteudos__botao{
    display: flex;
    background: linear-gradient(180deg, rgb(190, 128, 5), rgb(248, 229, 120));
    padding: 0.31rem 0.43rem;
    text-decoration: none;
    color: #3a3503;
    font-weight: 600;
    border-radius: 10px;
    width: 15.62rem;
    justify-content: center;
    margin-top: 0.5rem;
}

.section1__conteudos__logo{
    width: 100px;
    margin-bottom: 0.43rem;
}

.section2{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #c1850b;
    height: 500px;
}

.section2_titulo{
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    color: var(--cor-douradoClaro);
    width: 380px;
}

.section2_subtitulo{
    font-size: 20px;
    font-weight: 700;
    margin-top: 150px;
    text-align: center;
    width: 380px;
    margin: 150px 25px 0px 25px;
    color: #e9e18e;
}

.section2_descricao{
    width: 385px;
    margin-top: 15px;
    color: #f1eeca;
    text-align: justify;
    font-size: 18px;
}